*{
    /* sacamos los padding y margin, el texto le agregamos una fuente */
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

header{
    padding: 10px 35px;
    background-color: rgba(0,0,100,0.8);
}

.top > h2{
    text-align: left;
}

.top > nav{
    
    text-align: right;
}

/* Imagen de fondo */
.imgp{
    font-size: small;
    background-image: url("img/ImgDeFondo.jpg");
    background-position: center calc(70%);
    background-size: cover;
    background-repeat:no-repeat;
    height: 50vh;
    text-align: center;
}

/* Texto de la img */
.imgp > h1{
    
    display: inline;
    background-color: rgba(0,0,0,0.5); 
    border-radius: 5px;
    padding: 10px;

}



/* botones: margenes y centrarlos */
.boton{
    margin:0px 500px;
    padding: 20px;

}

.boton > div{
 
    font-size: small;
    text-align: left;
    line-height: 25px;

    border-radius: 15px;
    background-color: rgb(235, 235, 235); /* color */
    border-bottom: 2px solid rgba(0,0,0,0.1); /* sombra de los botones */

    margin: 10px;
    padding: 15px;

}

/* Color del h1 */
.boton > div > h1{
    color: blue;
}

/* color del text de abajo */
.boton > div > p{
color: black;
}

/* pie de page (nose como dejarlo fijo a la parte de abajo de la page) */
footer{

    font-size: smaller;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,100,0.8);
      position: absolute;
  bottom: 0;
  width:100%;

}